.some-class {
  color: #3b82f6;
}

.another-class {
  background-color: #60a5fa;
}

.yet-another-class {
  border-color: #1e40af;
}

/* additional styles */

.some-other-class {
  box-shadow: 0 4px 10px #bfdbfe;
}